/* Mudar a cor do fundo da página */
.minha-classe {
    background-color: #0000FF; /* Azul */
}

li {
    color: #808080;
    border: 1px solid #000000;
}
h1.minha-classe {
    color: #008000; /* Verde */
}