/* Estilo do elemento pai */
.parent {
    width: 300px;
    height: 200px;
    background-color: rgba(0, 128, 0, 0.5); /* Verde com 50% de opacidade */
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo do elemento filho */
.child {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 255); /* Azul sólido */
    
    transform: rotate(45deg); /* Rotação de 45 graus */
}